/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu>li {
    display: inline;
}

.menu>li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu>li:nth-child(1):before {
    content: "";
    padding: 0;
}

#map {
    min-height: 350px;
    width: 100%;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

tooltip {
    width: 100%;
}

.month-switcher-select {
    width: 50%!important;
    margin: 0px 10px;
}

#chartdiv {
    width: 100%;
    height: 334px;
}

.bg-detail-one {
    background-color: #798E94;
    color: #fff!important;
}

.bg-detail-two {
    background-color: #f1d7b9;
    color: #fff!important;
}

.bg-detail-three {
    background-color: #b4bfbf;
    color: #fff!important;
}

.bg-detail-four {
    background-color: #dbd5c5;
    color: #fff!important;
}

.bg-detail-five {
    background-color: #ebdf92;
    color: #fff!important;
}

.bg-detail-six {
    background-color: #cfd3ca;
    color: #fff!important;
}

.page-item.active .page-link {
    background-color: #798E94!important;
    border-color: #798E94!important;
    color: #fff!important;
}

.page-link {
    color: #798E94!important;
}

.amcharts-chart-div>a {
    display: none!important;
}

.table-hover tbody tr:hover {
    background-color: rgba(219, 213, 197, 0.38)!important;
    cursor: pointer;
}